<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Proveedor</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Spring MVC Boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Usuarios</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Listar </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/listarA}">Articulos</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/listarP}">Proveedores</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search"> <a
					th:href="@{/salirP}" class="btn btn-danger">Leave</a>
			</form>
		</div>
	</nav>
	<div class="container">

		<form th:action="@{/Rproveedor}" method="post"
			th:object="${proveedor}">

			<div class="form-group">
				<div class="form-row">

					<div class="col-md-4">
						Nombre de la compañia: <input type="text"
							th:field="*{nombreCompania}" class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="nombre Compania" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('nombreCompania')}"
							th:errors="*{nombreCompania}"></small>
					</div>
					<div class="col-md-4">
						Nombre Contacto: <input type="text" th:field="*{nombreContacto}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="nombre Contacto" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('nombreContacto')}"
							th:errors="*{nombreContacto}"></small>
					</div>
					<div class="col-md-4">
						titulo Contacto: <input type="text" th:field="*{tituloContacto}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="titulo Contacto" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('tituloContacto')}"
							th:errors="*{tituloContacto}"></small>
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="form-row">
					<div class="col-md-4">
						Direccion: <input type="text" th:field="*{direccion}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="direccion" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('direccion')}"
							th:errors="*{direccion}"></small>
					</div>
					<div class="col-md-4">
						ciudad: <input type="text" th:field="*{ciudad}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'" placeholder="ciudad"
							required /> <small class="form-text text-danger"
							th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></small>
					</div>
					<div class="col-md-4">
						telefono: <input type="text" th:field="*{telefono}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="telefono" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="form-row">

					<div class="col-md-4">
						fax: <input type="text" th:field="*{fax}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'" placeholder="fax"
							required /> <small class="form-text text-danger"
							th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}"></small>
					</div>
					<div class="col-md-4">
						sitio Web: <input type="text" th:field="*{sitioWeb}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="sitioWeb" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('sitioWeb')}" th:errors="*{sitioWeb}"></small>
					</div>
					<div class="col-md-4">
						facebook: <input type="text" th:field="*{facebook}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="facebook" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('facebook')}" th:errors="*{facebook}"></small>
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="form-row">
					<div class="col-md-6">
						correo Electronico: <input type="text"
							th:field="*{correoElectronico}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'"
							placeholder="correo Electronico" required /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('correoElectronico')}"
							th:errors="*{correoElectronico}"></small>
					</div>
					<div class="col-md-6">
						twitter: <input type="text" th:field="*{twitter}"
							class="form-control form-control-sm"
							th:errorClass="'form-control alert-danger'" placeholder="twitter"
							required /> <small class="form-text text-danger"
							th:if="${#fields.hasErrors('twitter')}" th:errors="*{twitter}"></small>
					</div>

				</div>
			</div>
			<input type="hidden" th:field="*{id}" />
			<div>

				<input type="submit" value="Agregar" class="btn btn-success">

			</div>
		</form>

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
		integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
		crossorigin="anonymous"></script>
</body>
</html>